@model GestionToxicologica.Models.EstadoDenuncia

@{
    ViewBag.Title = "Details";
}

<h2>Detalles Estado</h2>

<div>
    <h4>EstadoDenuncia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Estado }) |
    @Html.ActionLink("Volver", "Index")
</p>
